@model WebApplication1.video
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourInfo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <style>

        * {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
        }



    </style>

</head >

<body >

    <div>

        <nav class="absolute top-px z-10 flex w-full h-1/6 mt-10 justify-between bg-red" />
            <h1 class="font-bold text-white text-3xl ml-20">  </h1>
            <a href="/Student/SecondLogin" class="font-bold text-white text-2xl mr-20 ">Return</a>
        </nav>



        <div class="min-w-screen min-h-screen bg-gray-900 flex items-center p-5 lg:p-10 overflow-hidden relative">
            
            <div class="w-full f-full rounded bg-white shadow-xl p-10 lg:p-20 mx-auto text-gray-800 relative md:text-left">
                
                <div class="md:flex items-center -mx-10">
                    <div class="w-full md:w-1/2 px-10 mb-10 md:mb-0">
                        <div class="relative">
                            <video class="w-full relative z-10" poster="@Model.urlImgVideo" controls>

                                <source src="~/videos/@Model.url" type="video/mp4">

                            </video>

                            <div class="border-4 border-gray-200 absolute top-10 bottom-10 left-10 right-10 z-0"></div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/2 px-10">
                        <div class="mb-10">
                            <h1 class="font-bold text-3xl leading-none align-baseline">@ViewBag.res1</h1>
                            <h1 class="font-bold uppercase text-2xl mb-5">@Model.title</h1>
                            <p class="text-sm">@Model.desc : Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Eos, voluptatum dolorum! Laborum blanditiis consequatur, voluptates, sint enim fugiat saepe, dolor fugit, magnam explicabo eaque quas id quo porro dolorum facilis... <a href="#" class="opacity-50 text-gray-900 hover:opacity-100 inline-block text-xs leading-none border-b border-gray-900">MORE <i class="mdi mdi-arrow-right"></i></a></p>
                        </div>
                        <div>
                            <div class="inline-block align-bottom mr-5">
                                <span class="text-2xl leading-none align-baseline">$</span>
                                <span class="font-bold text-5xl leading-none align-baseline">59</span>
                                <span class="text-2xl leading-none align-baseline">.99</span>
                                <span class="text-xl leading-none align-baseline">/mois</span>
                            </div>
                            <div class="inline-block align-bottom">
                                <button class="bg-gray-900 opacity-75 hover:opacity-100 text-gray-100 hover:text-gray-100 rounded-full px-10 py-2 font-semibold"><i class="mdi mdi-cart -ml-2 mr-2"></i> Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body >


</html >
